@import "App.scss";

.album-card {
    background: $dark-gray;
    color: $white;
    border-radius: 32px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;

    transition: 0.3s transform;

    &:hover {
        transform: scale(1.03)
    }
}

.album-image {
    width: 100%;
    margin-bottom: $spacing-unit;
    position: relative;
    z-index: 10;
}

.album-title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: $spacing-unit * 0.5;
}

.album-artist {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: $spacing-unit * 0.5;
}

.album-year {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: $gray;
    margin-bottom: $spacing-unit;
}

.album-descriptors-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    margin-bottom: $spacing-unit;
}

.album-descriptor {
    color: $white;
    border: none;
    font-size: 14px;
    background-color: $medium-gray;
    display: inline-block;
    border-radius: $pill;
    padding: 4px 12px;
    cursor: pointer;

    transition: 0.3s transform;

    &:hover {
        transform: scale(1.06)
    }
}

.album-tracks {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}

.spotify-logo {
    width: 35px;
    position: relative;
    z-index: 10;
}

.spotify-logo:not(.no-spotify) {
    cursor: pointer;

    transition: 0.3s transform;

    &:hover {
        transform: scale(1.09)
    }
}

.no-spotify {
    opacity: 30%;
}

.album-tracks-header {
    font-size: 14px;
    line-height: 21px;
    color: $gray;
    font-weight: normal;
}

.album-tracks-list {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}