$moon: #f7ce31;
$white: #edf4fa;
$gray: #abb3ba;
$medium-gray: #494b4d;
$dark-gray: #272829;
$darker-gray: #1b1c1c;
$darkest-gray: #151515;

$spacing-unit: 19px;
$pill: 8675309px;
$responsive-threshold: 800px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.app {
    position: relative;
    overflow: hidden;
}

.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/somanystars.svg);
    background-size: 500px 500px;
    opacity: 0.05;
    z-index: 6;
    animation: sway 5s ease-in-out infinite;
    pointer-events: none;
}

body {
    background: $darker-gray;
}

.app-body {
    margin: auto;
    max-width: 1400px;
}

@keyframes sway {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(7px);
    }
    0% {
        transform: translateX(0px);
    }
}
