$moon: #F7CE31;
$white: #EDF4FA;
$gray: #ABB3BA;
$medium-gray: #494B4D;
$dark-gray: #272829;
$darker-gray: #1B1C1C;
$darkest-gray: #151515;

$spacing-unit: 19px;
$pill: 8675309px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

body {
    background: $darker-gray;
}

.app-body {
    margin: auto;
    max-width: 1400px;
}