@import 'App.scss';

.best-albums-of-year {
    a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: $moon;
        }
    }
}

.best-albums-header {
    margin: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 3;
}

.best-albums-header-contents {
    color: $white;
    background-color: $dark-gray;
    border-radius: 32px;
    padding: 48px 64px;
    max-width: 740px;
    margin: auto;
    gap: 32px;

    @media (max-width: $responsive-threshold) {
        padding: 32px;
    }
}

.best-albums-title {
    font-size: 48px;

    @media (max-width: calc($responsive-threshold * 0.8)) {
        font-size: 36px;
        margin-bottom: 0.2em;
    }
}

.best-albums-byline {
    margin-bottom: $spacing-unit;
    color: $gray;
    font-weight: normal;
}

.best-albums-description {
    color: $gray;
    line-height: 1.5em;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.best-albums-body {
    .album-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: $spacing-unit * 2;
    }

    .album-card-wrapper {
        justify-content: center;
        width: 100%;
    }

    @media (min-width: 650px) {
        .album-image {
            max-width: 290px;
            margin-bottom: 0;
        }
        .album-card {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: $spacing-unit * 1.5;
            width: 740px;
        }
    }
}
