@import "App.scss";

$moon-emoji-size: 3em;
$moonburst-size: max(200vw, 200vh);
// $moonburst-size: 1600px;
$moonburst-viewbox-size: 500px;
$header-gap: $spacing-unit * 3;

.header {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: $header-gap;
    font-size: 140px;
    background: $darkest-gray;
    overflow: hidden;
}

.header-title {
    font-size: 1em;
    font-weight: 900;
}

.full-moon-emoji {
    width: $moon-emoji-size;
    top: 0;
    left: 0;
}

.moon-image {
    position: relative;
}

#title-clip {
    transform: translate(calc(0.5 * $moonburst-size + 0.5 * $moon-emoji-size + $header-gap), calc(0.5 * $moonburst-size));
}

.rotator-wrapper {
    position: absolute;
    top: calc(-0.5 * $moonburst-size);
    left: calc(-0.5 * $moonburst-size);

    &.moon-wrapper {
        z-index: 5;
        left: calc(-0.5 * $moon-emoji-size);
        top: calc(-0.5 * $moon-emoji-size);
    }

    &.moonburst-bright-wrapper {
        z-index: 4;
        clip-path: url(#title-clip);
    }

    &.moonburst-dark-wrapper {
        z-index: 3;
    }
}

.rotator {
    position: relative;
    width: $moonburst-size;
    height: $moonburst-size;
    animation-name: spin;
    animation-duration: 60000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    &.moon-rotator {
        width: $moon-emoji-size;
        height: $moon-emoji-size;
    }
}

.moonburst {
    position: absolute;
    z-index: 1;
    width: $moonburst-size;
    left: 0;
    top: 0;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}