@import "App.scss";

$moon-emoji-size: min(420px, 50vw);
$moonburst-size: max(300vw, 300vh);
$header-gap: calc(0.165 * $moon-emoji-size);
$moon-emoji-shift-left: calc(clamp(25vw - 500px, 0px, -0.85 * $moon-emoji-size) + 30vw - 3 * $header-gap);

$responsive-threshold: 800px;

.header {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: $darkest-gray;
    overflow: hidden;

    padding: $spacing-unit * 2;

    @media (max-width: $responsive-threshold) {
        padding-left: $spacing-unit * 2;
        padding-right: $spacing-unit * 2;
    }
}

.moon-image-wrapper {
    position: relative;
    width: $moon-emoji-size;
    height: $moon-emoji-size;
    margin-right: $moon-emoji-size;
    font-size: calc(0.33 * $moon-emoji-size);
    margin-left: $moon-emoji-shift-left;
}

.header-title-wrapper {
    position: absolute;
}

.header-title {
    font-weight: 900;
}

.full-moon-emoji {
    width: $moon-emoji-size;
    top: 0;
    left: 0;
}

#title-clip {
    transform: translate(
        calc(0.5 * $moonburst-size + 0.5 * $moon-emoji-size + $header-gap),
        calc(0.5 * $moonburst-size)
    );
}

.rotator-wrapper {
    position: absolute;
    top: calc(0.5 * ($moon-emoji-size - $moonburst-size));
    left: calc(0.5 * ($moon-emoji-size - $moonburst-size));

    &.moon-wrapper {
        z-index: 5;
        top: 0;
        left: 0;
    }

    &.moonburst-bright-wrapper {
        z-index: 4;
        clip-path: url(#title-clip);
    }

    &.moonburst-dark-wrapper {
        z-index: 3;
    }
}

.rotator {
    position: relative;
    width: $moonburst-size;
    height: $moonburst-size;
    animation-name: spin;
    animation-duration: 60000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    &.moon-rotator {
        width: $moon-emoji-size;
        height: $moon-emoji-size;
    }
}

.moonburst {
    position: absolute;
    z-index: 1;
    width: $moonburst-size;
    left: 0;
    top: 0;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.header-description {
    margin-top: 2em;
    margin-left: calc($moon-emoji-size + $header-gap + $moon-emoji-shift-left);
    z-index: 6;
    font-size: 18px;
    color: $gray;
    line-height: 1.7em;
    max-width: 30em;

    & strong {
        color: $white;
    }

    @media (max-width: $responsive-threshold) {
        margin-left: 0;
        max-width: 100%
    }

    @media (max-width: calc(0.8 * $responsive-threshold)) {
        font-size: 16px;
    }

    p {
        margin-bottom: $spacing-unit;
    }
}

.moon-rating-list {
    margin-left: 1em;
    list-style: none;
    margin-bottom: $spacing-unit;
}

.moon-rating {
    margin-bottom: 0.3em;

    & strong {
        margin-right: 0.5em;
        font-size: 1.2em;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
}

.moon-rating-image {
    width: 1.2em;
    vertical-align: text-bottom;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
}

.down-arrow-wrapper {
    display: flex;
    justify-content: center;
    z-index: 7;
}

.down-arrow {
    margin-top: $spacing-unit;
    background: $dark-gray;
    color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $pill;
    font-size: 24px;
    font-weight: bold;
    width: 2em;
    height: 2em;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s transform;

    &:hover {
        transform: scale(1.06)
    }
}

html {
    scroll-behavior: smooth;
}

.down-arrow-text {
    animation: 1.5s bob ease-in-out infinite;
}

@keyframes bob {
    0% {
        transform: translate(0, -2px);
    }
    50% {
        transform: translate(0, 2px);
    }
    100% {
        transform: translate(0, -2px);
    }
}